 body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    header, footer {
      background-color: #ffc8edc9;
      padding: 10px;
      font-weight: bold;
    }
    .content {
      margin-top: 100px;
    }
    button {
      padding: 8px 20px;
      background-color: #cc78b7;
      color: white;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
      cursor: pointer;
    }
    